<p>
  I think I can consider myself a Rust dev by now.<br>
  I've developed a CLI for on-prem bitbucket servers. <br>
  It can be used to clone/pull the whole set of projects with underlying repos or just a selected subset.
</p>
<p>
  I am not a rust expert.<br>
  Im could not explain pinning, or other l
</p>
<hr>
<p>
  <a mat-stroked-button target="_blank" href="https://github.com/jensim/bitbucket_server_cli/">bitbucket_server_cli</a>
</p>
<p>
  <a href="https://github.com/jensim/bitbucket_server_cli/actions/workflows/rust.yml">
    <img alt="Build" src="https://github.com/jensim/bitbucket_server_cli/actions/workflows/rust.yml/badge.svg">
  </a>
  <a href="https://github.com/jensim/bitbucket_server_cli/actions/workflows/rust-audit.yml">
    <img alt="Rust audit" src="https://github.com/jensim/bitbucket_server_cli/actions/workflows/rust-audit.yml/badge.svg">
  </a>
  <br>

  <a href="https://github.com/rust-secure-code/safety-dance/">
    <img alt="unsafe forbidden" src="https://img.shields.io/badge/unsafe-forbidden-success.svg">
  </a>
  <img alt="warnings forbidden" src="https://img.shields.io/badge/warnings-forbidden-success.svg">
  <img alt="State" src="https://img.shields.io/badge/maintenance-working_but_experimental-blue.svg">
  <br>

  <a href="https://github.com/jensim/homebrew-bitbucket_server_cli/">
    <img alt="Homebrew" src="https://img.shields.io/badge/HomeBrew-repo-blue">
  </a>
  <a href="https://github.com/jensim/linuxbrew-bitbucket_server_cli-linux/">
    <img alt="Linuxbrew" src="https://img.shields.io/badge/LinuxBrew-repo-red">
  </a>
  <br>

  <img alt="Crates.io" src="https://img.shields.io/crates/l/bitbucket_server_cli">
  <img alt="Crates.io" src="https://img.shields.io/crates/v/bitbucket_server_cli">
  <img alt="Crates.io" src="https://img.shields.io/crates/d/bitbucket_server_cli">
</p>
