<h1 class="centered">
  BASH
</h1>
<div>
  Bash is versatile, and it's everywhere.<br>
  And even though the default terminal for my Mac is zsh nowadays, any time I write a script, it starts with <code>#!/bin/bash</code>.<br>
  There are some reasons, one is the reason that you are able to export functions. (Support currently lacking in zsh)<br>
  With it, it's a lot simpler to run things in parallel with parallel or xargs against the exported func..
</div>
<div>
  At work I've built a closed source homebrew tap where I distribute scripts, to enable people in their daily work.
  <ul>
  <li>Execute maven version upgrades for parent, properties, and dependencies. Parameterized with version rules and so on.</li>
  <li>Generate MarkDown tables containing pre-baked links to all the build-, log-, vcs-systems, and landing pages in all envs for the current repo.</li>
  <li>Code migrations.
    <ul>
      <li>When we switched from one build system to another</li>
      <li>When there where major changes to swagger annotations.</li>
      <li>JUnit4 to JUnit5</li>
    </ul>
    If you haven't tried <code><a href="https://comby.dev/">comby</a></code>, <b><u>just do it</u></b>. It's like <code>sed</code>, but code aware.
  </li>
  </ul>
</div>
