<div>
  <a mat-button href="#home">
    <img alt="Angular Logo" src="../../assets/svg/brands/angular.svg" width="24" height="24">
    Home
  </a>
</div>
<div>
  <a mat-button href="#java">
    <img alt="Java Logo" src="../../assets/svg/brands/java.svg" width="24" height="24">
    Java, Kotlin, etc
  </a>
</div>
<div>
  <a mat-button href=" https://www.linkedin.com/in/jens-brimfors-85950051/" target="_blank">
    <img alt="LinkedIn Logo" src="../../assets/svg/brands/linkedin.svg" width="24" height="24">
    LinkedIn
  </a>
</div>
<div>
  <a mat-button href="https://github.com/jensim/" target="_blank">
    <img alt="GitHub Logo" src="../../assets/svg/brands/github-square.svg" width="24" height="24">
    GitHub
  </a>
</div>
