<mat-toolbar>
  <a mat-button (click)="sidenav.toggle()" [@rotatedState]="opened ? 'rotated' : 'default'">
    <img alt="Menu button" src="../assets/svg/bars.svg" width="24" height="24">
  </a>
</mat-toolbar>
<mat-sidenav-container class="jensim-sidenav-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="menu-top-padding mat-background-accent">
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container [ngSwitch]="true">
      <app-home *ngSwitchCase="['home',null].includes(page)"></app-home>
      <app-java *ngSwitchCase="page == 'java'"></app-java>
      <app-unknown *ngSwitchDefault></app-unknown>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
