.all-wrap {
  min-height: 100vh;
  min-width: 100vw;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.fa {
  font-size: 2em;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1; // child will set to an equal size inside the container

  * {
    flex: 1;
    display: block;

    padding-left: 1em;
    padding-right: 1em;
  }
}

footer {
  text-align: right;
}
