.jensim-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-content {
  padding-left: 1em;
  padding-right: 1em;
}

a.jensim-menu-button {
  position: absolute;
  top: 2mm;
  left: 2mm;
  z-index: 999;
}

.fa {
  font-size: 2em;
  color: white;
}

.menu-top-padding {
  padding: 12mm 3px 3px;
}
