<div style="text-align:center">
  <h1>
    Hello to you!
  </h1>
  <img alt="Travis CI build status" src="https://travis-ci.org/jensim/jensim.github.io.svg?branch=build">
  &nbsp;
  <img alt="Snyk vulnerability status" src="https://img.shields.io/snyk/vulnerabilities/github/jensim/jensim.github.io.svg">
  <p>
    This page is built using Travis CI and released from there as well.
    That's the way i prefer to set up my from home projects these days.
    It's a lot simpler to have Travis build for linux (and soon windows as well), while I close the lid and enjoy life.
  </p>
  <p>
    Clean and tested code is a lot easier to revisit in a few years.
    Untested projects are soon to give me a portion of shame upon revisiting.
    And like a wise person once told me, is that the
  </p>
  <blockquote class="blockquote">
    <p>"The code is the cost, it is not to be confused with the value it gives you."</p>
  </blockquote>
</div>
