<div style="text-align:center">
  <h1>
    Hello to you!
  </h1>
  <a href="https://travis-ci.org/github/jensim/jensim.github.io"><img alt="Travis CI build status" src="https://travis-ci.org/jensim/jensim.github.io.svg?branch=build"></a>
  <a href="https://snyk.io/test/github/jensim/jensim.github.io?targetFile=package.json"><img src="https://snyk.io/test/github/jensim/jensim.github.io/badge.svg?targetFile=package.json" alt="Known Vulnerabilities" data-canonical-src="https://snyk.io/test/github/jensim/jensim.github.io?targetFile=package.json" style="max-width:100%;"></a>
  <p>
    This page is built using Travis CI and released from there as well.
    That's the way i prefer to set up my from home projects these days.
    It's a lot simpler to have Travis build for linux (and soon windows as well), while I close the lid and enjoy life.
  </p>
  <p>
    Clean and tested code is a lot easier to revisit in a few years.
    Untested projects are soon to give me a portion of shame upon revisiting.
    And like a wise person once told me, is that &darr;
  </p>
  <blockquote class="blockquote">
    <p>"The code is the cost, it is not to be confused with the value it gives you."</p>
  </blockquote>
</div>
