<h1>Java</h1>
<p>
  Java is my "home country". But, I feel like I've outgrown it. And SpringBoot.<br>
  Even though that is where my address is, so to speak..<br>
  Java is the new
  <a target="_blank" href="https://en.wikipedia.org/wiki/COBOL">Cobol</a>.
  And SpringBoot is the new
  <a href="https://www.oracle.com/java/technologies/jspt.html">JSP</a>.<br>
</p>
<hr>
<h1>Kotlin</h1>
<p>
  I consider myself a polyglot developer.<br>
  And I think Kotlin is the language im most at home in. It makes sense.
</p>
<p>
  <a mat-stroked-button target="_blank" href="https://mega-manipulator.github.io/">mega-manipulator</a><br>
  My latest addition to the "pile". It's currently in use, and development.<br>
  Aims to address both ends of batch changes in code. Making and Receiving.<br>
  Leverage this <a href="https://plugins.jetbrains.com/plugin/16396-mega-manipulator">IntelliJ-plugin</a> to search, update, pull request, approve, merge, comment, modify..<br>
  The list goes on.<br>
  <b>Pull request fatigue</b> is a word that came up a lot when I started working with <a href="https://www.gnu.org/software/bash/">batch changes</a>,
  <a target="_blank" href="https://docs.renovatebot.com/">Renovate</a> and
  <a target="_blank" href="https://sourcegraph.com/">SourceGraph</a>
  <a target="_blank" href="https://docs.sourcegraph.com/batch_changes">Batch Changes</a>.<br>
  The goal is then, addressing the receiving side of batch changes, to make it as easy to receive the changes as it is to generate them.
</p>
<hr>
<div>
  I started writing usable open source libraries, for the fun of it, a while back.<br>
  Have a look at em if you'd like. They might not have aged that well though.
</div>
<div>
  <a mat-stroked-button target="_blank" href="https://github.com/reflekt/reflekt">RefleKt</a>
  &nbsp;<a mat-stroked-button target="_blank" href="https://github.com/j2ts/java-to-typescript-maven-plugin">java-to-typescript-maven-plugin</a>
  &nbsp;<a mat-stroked-button target="_blank" href="https://github.com/jensim/kt2ts-gradle-plugin">kt2ts-gradle-plugin</a>
</div>
