<p>
  I consider myself a Java developer.
  Im in love with Kotlin, its a beautiful language, and it lovely writing applications in it.
</p>
<p>
  I recently started writing usable open source libraries, for the fun of it.
  Have a look at em if you'd like
</p>
<ul>
  <li><a href="https://github.com/reflekt/reflekt">RefleKt</a></li>
  <li><a href="https://github.com/j2ts/java-to-typescript-maven-plugin">java-to-typescript-maven-plugin</a></li>
  <li><a href="https://github.com/jensim/kt2ts-gradle-plugin">kt2ts-gradle-plugin</a></li>
</ul>
