<p>
  I consider myself a Java developer.
  Im in love with Kotlin, its a beautiful language, and it lovely writing applications in it.
</p>
<p>
  I recently started writing usable open source libraries, for the fun of it.
  Have a look at em if you'd like
</p>
<ul>
  <li>
    <a target="_blank" href="https://github.com/reflekt/reflekt">RefleKt</a>
    <img alt="Maven central version" src="https://img.shields.io/maven-central/v/io.github.reflekt/reflekt-core.svg">
    <img alt="Linux build" src="https://img.shields.io/travis/reflekt/reflekt.svg?label=Linux%20build">
    <img alt="Windows build" src="https://img.shields.io/appveyor/ci/jensim/reflekt-3gs91.svg?label=windows%20build">
    <img alt="Code coverage" src="https://sonarcloud.io/api/project_badges/measure?project=io.github.reflekt%3Areflekt-parent&metric=coverage">
    <img alt="Lines of code" src="https://sonarcloud.io/api/project_badges/measure?project=io.github.reflekt%3Areflekt-parent&metric=nloc">
  </li>
  <li>
    <a target="_blank" href="https://github.com/j2ts/java-to-typescript-maven-plugin">java-to-typescript-maven-plugin</a>
    <img alt="Maven central version" src="https://img.shields.io/maven-central/v/com.github.j2ts/java-to-typescript-maven-plugin.svg">
    <img alt="Windows build" src="https://img.shields.io/appveyor/ci/jensim/java-to-typescript-maven-plugin/master.svg?label=Windows%20build">
    <img alt="Linux build" src="https://img.shields.io/travis/j2ts/java-to-typescript-maven-plugin/master.svg?label=Linux%20build">
    <img alt="Code coverage" src="https://sonarcloud.io/api/project_badges/measure?project=com.github.j2ts%3Ajava-to-typescript-maven-plugin&metric=coverage">
    <img alt="Lines of code" src="https://sonarcloud.io/api/project_badges/measure?project=com.github.j2ts%3Ajava-to-typescript-maven-plugin&metric=nloc">
  </li>
  <li>
    <a target="_blank" href="https://github.com/jensim/kt2ts-gradle-plugin">kt2ts-gradle-plugin</a>
    <img alt="Gradle plugin portal version" src="https://img.shields.io/maven-metadata/v/https/plugins.gradle.org/m2/se/jensim/kt2ts/se.jensim.kt2ts.gradle.plugin/maven-metadata.xml.svg?colorB=007ec6&label=gradle-plugin">
    <img alt="Travis CI build status" src="https://travis-ci.org/jensim/kt2ts-gradle-plugin.svg?branch=master">
    <img alt="Code coverage" src="https://sonarcloud.io/api/project_badges/measure?project=se.jensim.kt2ts%3Akt2ts-plugin&metric=coverage">
    <img alt="Lines of code" src="https://sonarcloud.io/api/project_badges/measure?project=se.jensim.kt2ts%3Akt2ts-plugin&metric=nloc">
  </li>
</ul>
